<%= form_for @company do |f| %>
	<ul>
		<% if @company.errors.any? %>
			<%= @company.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		<% end %>
	</ul>

<h2>Company Details</h2>
	<%= f.label :name %>
	<%= f.text_field :name %>

<h3>Building Floors Available</h3>
	<% Building.all.each do |b| %>
		<%= f.fields_for :offices, b do |b_field| %>
			<%= b_field.hidden_field :id %>
         <h3><%= b_field.label b.name %></h3>
         <%= b_field.collection_check_boxes :offices, b.empty_offices, :floor, :floor %>
		<% end %>
	<% end %>
	<br>
   <br>


	<%= f.submit %>
<% end %>
